@keyframes slideEffectHeader {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}


body{
    background-color: #EEEEEE;
    margin:2rem;
}

header{
    margin:0;
    padding:0.5rem;
    font-size: 4vw;
    text-align: center;
    animation: .5s ease-in 0s 1 slideEffectHeader;
}

h1{
    margin:0;
    color: black;
    font-family: 'Tahoma', serif;
}
h2{
    font-family: 'Tahoma', serif;
    margin:0;
}
h3{
    font-family: 'Tahoma', serif;
}
h5{
    margin: 0;
    color: black;
    font-family: 'Tahoma', serif;
}

.flex-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}
.flex-body{
    display:flex;
    flex-flow: row;
    justify-content: center;
    flex-grow: 1;

    background-color: #EDEAB5;

    padding: .5rem;
    margin:.5rem;

    font-size: 1.5em;
    color: black;

    /* https://blog.hubspot.com/website/css-hover-animation for the transition hover effect idea */
    transition: background-color 1s ease-out 25ms 
}

.flex-item{
    display:flex;
    flex-flow: row;
    justify-content: center;
    flex-grow: 1;
    box-shadow: 10px 10px #BBBBBB;

    background-color: #EDEAB5;

    padding: .5rem;
    margin: .5rem;

    font-size: 1.5em;
    color: black;

    border-radius: 70% 70%;

    /* https://blog.hubspot.com/website/css-hover-animation for the transition hover effect idea */
    transition: background-color 1s ease-out 25ms 
}


.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-home-item{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding:3%;

    width: 27%;
}

.flex-half-item{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding:3%;

    width: 45%;
}

#history{
    font-size: min(max(12px, 3vw), 22px);
}

#slideShowLandscape{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


img{
    border-radius: 30% 30%;
    object-fit: contain;
}

.date{
    font-size:8vw;
    margin-top:.5rem;
    margin-bottom:0;
}
.under-date{
    font-size:1.5vw;
}

.pillars{
    font-size: min(max(16px, 3vw), 26px);
    margin-top:.5rem;
    margin-bottom:0;
}

.under-pillars{
    font-size: min(max(12px, 2vw), 22px);
    margin-top:.5rem;
    margin-bottom:0;
}

.about-eta-gamma{
    font-size: min(max(12px, 3vw), 22px);
    display:flex;
    justify-content: center;
    width:50%;
}

#We-Are{
    display:flex;
    justify-content: center;
    font-size:4vw;
    width: 100%;
    color:black;
}

#about-blurb{
    font-size: min(max(12px, 3vw), 22px);
    color:black;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    width: 50%;
}

#Our-Story{
    display:flex;
    justify-content: center;
    font-size:4vw;
    width: 100%;
    color:black;
}

#Our-Story-Blurb{
    font-size:2vw;
    color:black;
}


.flex-project-item{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    flex-grow: 1;

    background-color: #c5cac8;
    border-radius: 30% 70%;
    width: 33%;
    padding: .5rem;
    margin:.5rem;

    font-size:2vw;
    color: black;
    /* https://blog.hubspot.com/website/css-hover-animation for the transition hover effect idea */
    transition: background-color 1s ease-out 25ms 
}

p{
    font-family: Times New Roman, serif;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

img {
    max-width: 35%;
    height: auto\10;
    width: auto\12;
}


#About{
    background-color: #8B0000;
    color:#EEEEEE;;
    box-shadow: 5px 5px #BBBBBB;
}

#About:hover{
    background-color: #8B0000;
}

#Events:hover{
    background-color: #8B0000;
}

#Members:hover{
    background-color: #8B0000;
}

